<div class="foot" id="footer">
    <ul class="links ft">
        <li>
        <a href="###" id="contact_us" class="link">QQ咨询</a>
        <script src="http://wp.qiye.qq.com/loader/4.0.0.js" charset="utf-8"></script>
        <script type="text/javascript">
            try{
                __WPA.create({
                    nameAccount:"800802001",
                    customEle: document.getElementById('contact_us')
                })
            }catch(err){}
        </script>
        | <a href="http://bbs.bk.tencent.com/forum.php" target="_blank" hotrep="hp.footer.feedback" class="link">蓝鲸论坛</a>
        | <a href="http://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">蓝鲸官网</a>
        | <a href="{{SITE_URL}}" target="_blank" hotrep="hp.footer.feedback" class="link">蓝鲸智云工作台</a>
        </li>
        <li><p class="copyright">Copyright © 2012-{{NOW.year}} Tencent BlueKing. All Rights Reserved.</p> </li>
        <li><p class="copyright">蓝鲸智云 版权所有</p> </li>
    </ul>
</div>
